<%- partial('_partials/head') %>
<body class="page">
  <%- partial('_partials/header') %>
  <div class="container">
    <section class="main"><%- body %></section>
  </div>
  <%- partial('_partials/footer') %>
</body>
<script>
  (function(){
    var dotCount = 20
    var dots = []
    var dotBaseSpeed = 0.5
    var canvas = document.createElement('canvas')
    var ctx = canvas.getContext('2d')
    var cHeight = document.body.clientHeight
    var cWidth = document.body.clientWidth
    var bgColor = '#FAFAFA'
    var dotColor = '#EEE'
    var dotBaseRadius = 6
    var maxLineLength = cWidth > cHeight ? cWidth * 0.28 : cHeight * 0.28
    var requestAnimationFrame

    function initRequestAnimationFrame() {
      var vendor = ['', 'ms', 'moz', 'webkit', 'o']

      for (var i = 0; i < vendor.length && !window.requestAnimationFrame; i++) {
        window.requestAnimationFrame = window[vendor[i] + 'RequestAnimationFrame']
      }

      requestAnimationFrame = window.requestAnimationFrame

      return typeof requestAnimationFrame === 'function' ? true : false
    }    

    function initCanvas() {
      var canvasStyle = {
        top: 0,
        left: 0,
        position: 'fixed',
        zIndex: -1
      }

      for (var pro in canvasStyle) {
        canvas.style[pro] = canvasStyle[pro]
      }

      canvas.width = cWidth
      canvas.height = cHeight

      document.body.appendChild(canvas)
    }

    function initDots() {
      for (var i = 0; i < dotCount; i++) {
        dots.push(newDot())
      }
    }

    function init() {
      if (!initRequestAnimationFrame()) return
      initCanvas()
      initDots()
      drawDots()
    }

    function newDot() {
      return {
        x: random(0, cWidth),
        y: random(0, cHeight),
        radius: random(dotBaseRadius * 0.5, dotBaseRadius),
        xSpeed: randomPN() * random(dotBaseSpeed * 0.5, dotBaseSpeed),
        ySpeed: randomPN() * random(dotBaseSpeed * 0.5, dotBaseSpeed)
      }
    }

    function moveDots() {
      for (var i = 0; i < dotCount; i++) {
        var speedX = (dots[i].x + dots[i].xSpeed) % cWidth 
        var speedY = (dots[i].y + dots[i].ySpeed) % cHeight
        dots[i].x = speedX >= 0 ? speedX : speedX + cWidth
        dots[i].y = speedY >= 0 ? speedY : speedY + cHeight
      }
    }

    function drawDots() {
      ctx.fillStyle = bgColor
      ctx.fillRect(0, 0, cWidth, cHeight)

      for (var i = 0; i < dotCount; i++) {
        ctx.beginPath()
        ctx.arc(dots[i].x, dots[i].y, dots[i].radius, 0, 2 * Math.PI, false)
        ctx.fillStyle = dotColor
        ctx.fill()

        for (var j = i + 1; j < dotCount; j++) {
          if (Math.sqrt(Math.pow(dots[i].x - dots[j].x, 2) + Math.pow(dots[i].y - dots[j].y, 2)) < maxLineLength) {
            ctx.beginPath()
            ctx.strokeStyle = dotColor
            ctx.moveTo(dots[i].x, dots[i].y)
            ctx.lineTo(dots[j].x, dots[j].y)
            ctx.stroke()
          }
        }
      }
  
      moveDots()
      requestAnimationFrame(drawDots)
    }

    function random(min, max) {
      return Math.random() * (max - min) + min
    }

    function randomPN() {
      return Math.random() > 0.5 ? 1 : -1
    }

    window.addEventListener('DOMContentLoaded', init,false)
  }())
</script>