// Colors
color-header-bg = rgba(226, 226, 226, .33)
color-footer-bg = rgba(242, 242, 242, .7)
color-btn-bg = rgba(234, 234, 234, .6)
color-btn-bg-highlight = rgba(243, 243, 243, .6)
color-home-bg = #dcdcdc
color-site = #575757
color-link-visited = #698ebf
color-footer = #AAAAAA
color-header = #575757

// Fonts
font-code = Courier, 'Courier New', monospace
font-zh = PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif
font-meta = -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Droid Sans Fallback,Microsoft YaHei,sans-serif
bar-size = 14px
article-size = 16px
font-size = 16px //default font size
title-size = 36px
title-weight = 300
subtitle-size = 26px
h3-size = 20px
line-height = 1.6em

// Layout
article-padding = 20px
bar-height = 30px
site-padding = 15px
title-padding = 40px