<footer class="footer">
  <span class="text">Powered by </span>
  <a href="https://hexo.io/" target="_blank">Hexo</a>
  <span> & Theme by</span>
  <a href="https://github.com/codertx/hexo-theme-lightit" target="_blank">lightit</a>
</footer>